* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --ff-aqua: #00C0FA;
  --ff-blue: #4261ED;
  --ff-purple: #6717CC;
  --ff-lightaqua: #99e6fd;
  --ff-lightblue: #b3c0f8;
  --ff-lightpurple: #c2a2eb;
  --ff-lightpurplebg: rgb(194, 162, 235);
  --ff-text: #fff;
  --ff-background: #111;
  --ff-module-background: #222;
  --ff-link: rgba(255, 255, 255, 0.55);
  --ff-footer-text: rgba(255, 255, 255, 0.55);
  --ff-link-hover: rgba(255, 255, 255, 0.75);
  --ff-link-hover-background: rgba(255, 255, 255, 0.15);
}

body {
  background-color: var(--ff-background);;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--ff-text);
}

/*================module css================*/

.module.bottom {
  border-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%) 0 0 1 0;
  border-width: 0 0 3px 0;
}

.module.top {
  border-image: linear-gradient(315deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%) 1 0 0 0;
  border-width: 3px 0 0 0;
}

.module {
  border-style: solid;
  background: var(--ff-module-background);
  padding: 0 5%;
}

.gradient {
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lightgradient {
  background-image: linear-gradient(135deg, var(--ff-lightaqua) 0%, var(--ff-lightblue) 50%, var(--ff-lightpurple) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*================header css================*/

header {
  display: flex;
  min-height: 92px;
  box-sizing: border-box;
  column-gap: 40px;
  height: 92px;
  transition: height 0.15s ease-in-out;
}

header:not(.dropdowndisplay) {
  justify-content: space-between;
}

.logo-wrapper {
  align-self: center;
  outline: none;
}

.logo-wrapper:not(.dropdowndisplay div a) {
  padding-right: calc(80% - 475.8px);
}

.img {
  vertical-align: middle;
  border: none;
}

.logo {
  width: 196px;
  height: 56px;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: initial;
  flex-grow: 0.7;
  padding-top: 12px;
}

.nav-ul {
  display: flex;
  width: 100%;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}

.nav-ul:not(.small .nav.dropdowndisplay .nav-ul) {
  height: 40px;
}

a {
  color: #3391ff;
}

.nav-a {
  color: var(--ff-link);
  text-decoration: none;
  transition: color .15s ease-in-out;
  font-weight: 600;
}

.nav-a.active {
  color: var(--ff-text);
}

.nav-a.active:hover {
  color: var(--ff-text);
}

.nav-a:hover {
  color: var(--ff-link-hover);
}

.nav-a:hover:disabled {
  color: var(--ff-link);
}

.navlink.spacer {
  padding: 4px;
}

.navlink {
  flex-flow: column;
  justify-content: center;
  padding: 8px 16px;
  min-width: fit-content;
}

header div {
  display: flex;
  justify-content: space-between;
  height: 89px;
  width: 100%;
}

@media (max-width: 1002px) {
  .nav:not(.dropdowndisplay) {
    display: none;
  }
}

header.dropdowndisplay.small .nav.dropdowndisplay {
  flex-flow: column wrap;
}

header.dropdowndisplay.small .nav.dropdowndisplay .nav-ul {
  flex-flow: column;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

header.dropdowndisplay.small {
  flex-flow: column wrap;
  height: calc(36px * 7 + 120px);
  overflow-y: hidden;
}

header.small {
  position: absolute;
  width: 100%;
  top: 0px;
  overflow-x: hidden;
}

body.small {
  margin-top: 92px;
  height: calc(100vh - 92px);
}

@media (min-width: 1002px) {
  .shrink {
    display: none;
  }
}

/*================dropdown css================*/

.dropdown {
  position: relative;
  display: block;
}

.dropdown hr {
  display: none;
}

.dropdown.expanded hr, hr {
  border: 0;
  display: block;
  width: 90%;
  min-height: 2px;
  margin: 0px auto;
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
}

.dropdown button {
  cursor: pointer;
  color: var(--ff-link);
  transition: color .15s ease-in-out;
  outline: none;
  display: flex;
  font-size: 16px;
  appearance: none;
  border: none;
  background: transparent;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

.dropdown.expanded button i {
  transform: rotate(180deg);
}

.dropdown.expanded button.bars i {
  transform: rotate(90deg);
}

.dropdown button i {
  transition: transform .15s ease-in-out;
}

.dropdown ul {
  display: none;
  border-radius: 4px;
}

.dropdown.expanded:not(.shrink) {
  box-shadow: 0px 16px 20px rgb(0 0 0 / 15%);
  border-radius: 4px 4px 0 0;
}

header.dropdowndisplay.small .nav.dropdowndisplay .nav-ul.dropdowndisplay .dropdown:not(.shrink) {
  position: absolute;
  margin-top: 34.73px;
}

header.dropdowndisplay.small .nav.dropdowndisplay .nav-ul.dropdowndisplay .dropdown:not(.shrink) + li{
  margin-top: 34.73px;
}

.dropdown.expanded ul {
  display: block;
  padding: 4px 0 4px 0;
  background: var(--ff-module-background);
  border-top-left-radius: 0px;
}

nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown ul li a {
  padding: 0 4px 0 4px;
  width: 100%;
  transition: all .15s ease-in-out;
}

.dropdown ul li a:hover {
  width: 100%;
  background-color: var(--ff-link-hover-background);
}

.bars {
  font-size: 25px !important;
  margin: 21px 0 21px 0;
  border: 1px solid var(--ff-link);
}

.fab {
  width: 17.5px !important;
}

nav.shrink {
  align-self: center;
}

/*=================footer css=================*/

footer {
  margin-top: auto;
  color: var(--ff-footer-text);
  padding-top: 40px !important;
}

.copyright {
  font-size: 12px;
  padding: 0 0 20px 0;
  float: right;
}

.footer-links {
  max-width: 1080px;
  text-align: center;
  width: 100%;
}

.footer-column {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 19%;
}

.footer-column .column-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-column div a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

@media (max-width: 1002px) {
  footer {
    display: none;
  }
}

/*=================content css================*/

section {
  padding: 60px 0 60px 0;
  background-color: var(--ff-background);
  text-align: center;
  max-width: 55.938vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.small section {
  max-width: 716px;
}

h1 {
  font-size: calc(150% + 3vw);
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  font-weight: 700;
}

h2 {
  font-size: calc(100% + 2vw);
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  margin-block-end: calc(0.83em - 0.5vh);
}

h3 {
  font-size: calc(75% + 1.50vw);
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-top: 0px;
  font-weight: normal;
  margin-block-end: calc(0.83em - 0.5vh);
}

body.small h2, body.small h3 {
	font-weight: bold;
}

::selection {
  background-color: var(--ff-lightpurplebg);
  background-clip: border-box;
  -webkit-text-fill-color: initial;
}

.btn {
  border: 2px solid;
  border-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%) 1;
  border-radius: .3rem;
  padding: 0.5vh 1vw;
  font-size: calc(1.06vw + 100%);
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: padding .15s ease-in-out, margin .15s ease-in-out;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  outline: none;
  color: var(--ff-aqua);
}

a.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::placeholder {
  -webkit-text-fill-color: initial;
  color: rgba(0,0,0,0.25);
}

@-moz-document url-prefix() {
  ::placeholder {
    -webkit-text-fill-color: transparent;
  }
}

@keyframes rainbow { 
  0% {filter: hue-rotate(0deg)}
  100% {filter: hue-rotate(360deg)}
}

html {
  animation: rainbow infinite 10s linear;
}

.paused {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused; 
  animation-play-state:paused;
}

@keyframes AnimateBG { 
  0% {background-position: 0% 0%}
  100% {background-position: 100% 0%}
}

a.btn:hover {
  padding: 1vh 2.5vw;
  margin: 0;
}

a.btn.animate:hover {
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 20%, var(--ff-purple) 40%, var(--ff-aqua) 60%, var(--ff-blue) 80%, var(--ff-purple) 100%);
  background-size: 260% 100%;
  animation: AnimateBG 2s linear infinite;
}

.btn#url {
  vertical-align: middle;
  font-size: calc(0.5vw + 100%);
}

select.btn {
  font-size: calc(75% + 1vw);
  cursor: pointer;
  -webkit-appearance: none;
}

.center {
  text-align: center;
}

code {
  background-color: var(--ff-module-background); 
  color: var(--ff-aqua);
}

.formPage {
  padding: 10%;
  padding-bottom: 5%;
  margin: 0 3px 0 3px;
  border-radius: .3rem;
  background-color: var(--ff-background);
  min-height: 300px;
}

.formPage .bottom {
  margin-top: 23vh;
}

.formPage span {
  font-size: calc(75% + 1vw);
}

.pageBackground {
  background: -webkit-linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
  border-radius: .3rem;
  padding: 3px 0 3px 0;
  position: absolute;
}

@media (max-width: 650px) {
  code {
    word-break: break-all;
  }
}

.leaving {
  animation-name: fadeOut;
  animation-duration: 0.375s;
  animation-timing-function: ease-out;
}

.arriving {
  animation-name: fadeIn;
  animation-duration: 0.375s;
  animation-timing-function: ease-out;
}

.hidden {
  display: none;
}

@keyframes fadeOut {
  0% {
    filter: opacity(1);
    margin-left: 0;
  }
  50% {
    filter: opacity(0);
  }
  100% {
    margin-left: -105%;
  }
}

@keyframes fadeIn {
  from {
    filter: opacity(0);
    margin-left: 105%;
  }
  to {
    filter: opacity(1);
    margin-left: 0;
  }
}


.link {
  text-decoration: none;
  background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: var(--ff-aqua);
}

.link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--ff-aqua);
}

iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 750px;
}

/*=================slide css==================*/
.slide {
  display: none;
}

.slides {
  position: relative;
  display:flex;
  align-items:center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px 8px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.slide img {
	width: 100%;
}

body:not(.small) .desc {
	display: flex;
	justify-content: center;
}

body:not(.small) .slide img {
	width: 40vw;
}

body:not(.small) .description {
	margin-left: 30px;
	width: 300px;
}

body.small ul {
	padding-left: 0px;
}

body.small .slides {
	width: 90%;
	margin-left: 5%;
}

.description {
	flex-shrink: 0;
	text-align: left;
}

body.small .description {
	padding:0 0 0 15px;
}