---
import { IconMenu } from "@tabler/icons-react";
import { Image } from "astro:assets";
import Container from "./Container.astro";
---

<div id="navbar" class="w-full sticky top-0 transition-colors duration-500">
  <Container class="h-16 flex items-center justify-between">
    <div class="flex items-center gap-1">
      <Image
        src="/img/logo.png"
        alt="logo"
        width={40}
        height={40}
        loading={"eager"}
      />
      <span class="text-[15px] font-light max-sm:hidden">FastForward</span>
    </div>
    <nav
      class="flex text-white gap-8 text-sm max-sm:font-bold max-sm:flex-col max-sm:text-center max-sm:text-2xl max-sm:pt-20 max-sm:fixed max-sm:top-16 max-sm:left-[200%] duration-500 transition-[left,transform,background] max-sm:h-[calc(100vh-4rem)] max-sm:w-screen max-sm:z-50 max-sm:bg-neutral-950 max-sm:skew-x-6"
    >
      <a href="/">Home</a>
      <a href="/faq">FAQ</a>
      <a href="/contact">Contact</a>
      <a href="/checker">Bypass Checker</a>
      <a
        href="https://github.com/fastforwardteam"
        target="_blank"
        rel="noopener noreferrer">Github</a
      >
    </nav>
    <button id="buttonMenu" class="hidden max-sm:flex text-white">
      <IconMenu />
    </button>
  </Container>
</div>

<style lang="scss">
  .menuActive {
    @apply bg-neutral-900;
    nav {
      @apply bg-neutral-900 left-0 skew-x-0;
    }
  }
</style>

<script>
  let navbar = document.getElementById("navbar");
  let buttonMenu = document.getElementById("buttonMenu");

  if (navbar) {
    const checkScroll = () => {
      if (window.scrollY > 0) {
        navbar.classList.add("bg-neutral-900");
      } else {
        navbar.classList.remove("bg-neutral-900");
      }
    };

    checkScroll();

    window.addEventListener("scroll", () => {
      checkScroll();
    });
  }

  if (buttonMenu) {
    buttonMenu.addEventListener("click", (e) => {
      e.preventDefault();
      navbar?.classList.toggle("menuActive");
    });

    window.addEventListener("resize", () => {
      if (window.innerWidth >= 640) {
        navbar?.classList.remove("menuActive");
      }
    });
  }
</script>
