---
import { IconMenu } from "@tabler/icons-react";
import { Image } from "astro:assets";
import Container from "./Container.astro";
---

<div
  id="navbar"
  class="w-full sticky top-0 transition-colors animate__animated animate__fadeInDown"
>
  <Container class="h-16 flex items-center justify-between">
    <div class="flex items-center gap-1">
      <Image
        src="/img/logo.png"
        alt="logo"
        width={40}
        height={40}
        loading={"eager"}
      />
      <span class="text-[15px] font-light">FastForward</span>
    </div>
    <nav class="flex max-sm:hidden text-white gap-8 text-sm">
      <a href="/">Home</a>
      <a href="/faq">FAQ</a>
      <a href="/contact">Contact</a>
      <a href="/checker">Bypass Checker</a>
    </nav>
    <button class="hidden max-sm:flex text-white">
      <IconMenu />
    </button>
  </Container>
</div>

<script>
  let navbar = document.getElementById("navbar");

  if (navbar) {
    const checkScroll = () => {
      if (window.scrollY > 0) {
        navbar.classList.add("bg-neutral-900");
      } else {
        navbar.classList.remove("bg-neutral-900");
      }
    };

    checkScroll();

    window.addEventListener("scroll", () => {
      checkScroll();
    });
  }
</script>
